html, body {
    background-color: black;
    margin: 0;
    padding: 0;
}

#mynetwork {
  width: 600px;
  height: 400px;
  border: 1px solid green;
}

.w2ui-layout > div .w2ui-resizer {
    color: green;
    background: darkblue;
}

.w2ui-layout > div .w2ui-panel .w2ui-panel-content {
    background-color: black;
}
