<link rel="stylesheet" type="text/css" href="/css/w2ui/dashboard.css" />
<script type="text/javascript" src="/js/w2ui/dashboard.js"></script>
<div class="dashboard">
    <h2>Trader</h2>
    <table class="trader">
        <tr>
            <th>Sector</th>
            <td class="currentSectorId">333</td>
        </tr>
        <tr>
            <th>Turns</th>
            <td class="turns">1000</td>
        </tr>
        <tr>
            <th>Experience</th>
            <td class="experience">50,000</td>
        </tr>
        <tr>
            <th>Alignment</th>
            <td class="alignment">100,000</td>
        </tr>
        <tr>
            <th>Credits</th>
            <td class="credits">50M</td>
        </tr>
    </table>
</div>