<div id="fTelnetContainer"></div>

<!-- Add support for WebSocket to IE9 -->
<!--[if lt IE 10]>
    <script type="text/javascript" src="/ftelnet/swfobject.js"></script>
    <script type="text/javascript" src="/ftelnet/web_socket.js"></script>
    <script>
        // Let the library know where WebSocketMain.swf is:
        WEB_SOCKET_SWF_LOCATION = "/ftelnet/WebSocketMain.swf";
    </script>
<![endif]-->
<!-- Stop IE8 and below from complaining about Object.defineProperty -->
<!--[if lt IE 9]>
    <script>
        Object.defineProperty = function () { /* Do Nothing */ };
    </script>
<![endif]-->

<script src="/ftelnet/ftelnet.min.js" id="fTelnetScript"></script>

<script src="/js/w2ui/terminal.js"></script>