<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>My fTelnet</title>

    <link href="" rel="stylesheet" id="fTelnetKeyboardCss">

    <link href="/css/embed.css?v=2017-02-20" rel="stylesheet" id="EmbedCSS">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #mynetwork {
          width: 600px;
          height: 400px;
          border: 1px solid lightgray;
        }
      </style>

</head>
<body>
    <script type="application/javascript">
        var sessionId = "{{ sessionId }}";
    </script>
    <div style="color: white">
        Current sector: <span id="currentSector">Unknown</span>
        Warps: <span id="warps">Unknown</span>
    </div>
    <div id="fTelnetContainer"></div>
    <div id="mynetwork"></div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-2.1.1.min.js"><\/script>')</script>
    
    <!-- Add support for WebSocket to IE9 -->
    <!--[if lt IE 10]>
        <script type="text/javascript" src="/ftelnet/swfobject.js"></script>
        <script type="text/javascript" src="/ftelnet/web_socket.js"></script>
        <script>
            // Let the library know where WebSocketMain.swf is:
            WEB_SOCKET_SWF_LOCATION = "/ftelnet/WebSocketMain.swf";
        </script>
    <![endif]-->
    <!-- Stop IE8 and below from complaining about Object.defineProperty -->
    <!--[if lt IE 9]>
        <script>
            Object.defineProperty = function () { /* Do Nothing */ };
        </script>
    <![endif]-->

    <script src="/ftelnet/ftelnet.min.js?v=2017-02-20" id="fTelnetScript"></script>

    <script src="/js/embed.js?v=2017-02-20"></script>

</body>
</html>
