<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.5.rc1.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/w2ui/global.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.5.rc1.min.js"></script>

    <title>PyTWX</title>

</head>
<body>
    <script type="application/javascript">
        var sessionId = "{{ sessionId }}";
    </script>
    <div id="layout" style="width: 100%; height: 1000px;"></div>

    <script src="/js/w2ui/game.js"></script>

</body>
</html>
